<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>customer_light</string>
	<key>name</key>
	<string>客服Light</string>
	<key>name_en</key>
	<string>CustomerLight</string>
	<key>chat_custom_order_message_img</key>
	<string>message_custom_order</string>
	<key>chat_custom_order_message_desc_color</key>
	<string>#999999</string>
	<key>chat_custom_order_message_price_color</key>
	<string>#FF7201</string>
	<key>chat_custom_evaluation_message_img</key>
	<string>message_custom_evaluation.png</string>
	<key>chat_custom_evaluation_message_desc_color</key>
	<string>#000000</string>
	<key>chat_controller_bg_color</key>
	<string>#EDF5FE</string>
	<key>chat_input_controller_bg_color</key>
	<string>#EDF5FE</string>
	<key>separator_color</key>
	<string>#EDF5FE</string>
	<key>chat_input_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_input_text_color</key>
	<string>#000000</string>
	<key>chat_face_page_control_current_color</key>
	<string>#7D7D7D</string>
	<key>chat_face_page_control_color</key>
	<string>#DEDEDE</string>
	<key>chat_face_menu_select_color</key>
	<string>#FFFFFF</string>
	<key>chat_more_camera_img</key>
	<string>chat_more_camera.png</string>
	<key>chat_more_file_img</key>
	<string>chat_more_file.png</string>
	<key>chat_more_link_img</key>
	<string>chat_more_link.png</string>
	<key>chat_more_picture_img</key>
	<string>chat_more_picture.png</string>
	<key>chat_more_video_img</key>
	<string>chat_more_video.png</string>
	<key>chat_more_poll_img</key>
	<string>chat_more_poll.png</string>
	<key>chat_more_groupnote_img</key>
	<string>chat_more_groupnote.png</string>
	<key>chat_bubble_send_img</key>
	<string>chat_bubble_send.png</string>
	<key>chat_bubble_send_alpha20_img</key>
	<string>chat_bubble_send_alpha20.png</string>
	<key>chat_bubble_send_alpha50_img</key>
	<string>chat_bubble_send_alpha50.png</string>
	<key>chat_bubble_receive_img</key>
	<string>chat_bubble_receive.png</string>
	<key>chat_bubble_receive_alpha20_img</key>
	<string>chat_bubble_receive_alpha20.png</string>
	<key>chat_bubble_receive_alpha50_img</key>
	<string>chat_bubble_receive_alpha50.png</string>
	<key>chat_text_message_send_text_color</key>
	<string>#FFFFFF</string>
	<key>chat_text_message_receive_text_color</key>
	<string>#000000</string>
	<key>chat_file_message_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_file_message_title_color</key>
	<string>#000000</string>
	<key>chat_file_message_subtitle_color</key>
	<string>#888888</string>
	<key>chat_link_message_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_link_message_title_color</key>
	<string>#000000</string>
	<key>chat_link_message_subtitle_color</key>
	<string>#147AFF</string>
	<key>chat_merge_message_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_merge_message_title_color</key>
	<string>#000000</string>
	<key>chat_merge_message_content_color</key>
	<string>#d5d5d5</string>
	<key>chat_reply_message_content_text_color</key>
	<string>#000000</string>
	<key>chat_reply_message_quoteView_text_color</key>
	<string>#888888</string>
	<key>chat_reply_message_quoteView_bg_color</key>
	<string>#4444440c</string>
	<key>chat_reply_message_sender_text_color</key>
	<string>#888888</string>
	<key>chat_reply_message_content_recv_text_color</key>
	<string>#000000</string>
	<key>chat_reply_message_quoteView_recv_text_color</key>
	<string>#888888</string>
	<key>chat_reference_message_content_text_color</key>
	<string>#000000</string>
	<key>chat_reference_message_quoteView_text_color</key>
	<string>#888888</string>
	<key>chat_reference_message_quoteView_bg_color</key>
	<string>#4444440c</string>
	<key>chat_reference_message_sender_text_color</key>
	<string>#888888</string>
	<key>chat_reference_message_content_recv_text_color</key>
	<string>#000000</string>
	<key>chat_reference_message_quoteView_recv_text_color</key>
	<string>#888888</string>
	<key>chat_voice_message_send_duration_time_color</key>
	<string>#000000</string>
	<key>chat_voice_message_recv_duration_time_color</key>
	<string>#000000</string>
	<key>chat_voice_message_sender_voice_normal_img</key>
	<string>message_voice_sender_normal.png</string>
	<key>chat_voice_message_receiver_voice_normal_img</key>
	<string>message_voice_receiver_normal.png</string>
	<key>chat_small_tongue_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_small_tongue_line_color</key>
	<string>#E5E5E5</string>
	<key>customer_service_evaluation_star_selected_img</key>
	<string>star_selected.png</string>
	<key>customer_service_evaluation_star_unselected_img</key>
	<string>star_unselected.png</string>
	<key>customer_service_evaluation_number_selected_img</key>
	<string>number_selected.png</string>
	<key>customer_service_evaluation_number_unselected_img</key>
	<string>number_unselected.png</string>
	<key>customer_service_branch_dotted_line_img</key>
	<string>dotted_line.png</string>
	<key>customer_service_branch_arrow_img</key>
	<string>arrow.png</string>
	<key>customer_service_collection_submit_img</key>
	<string>submit.png</string>
	<key>customer_service_contact_menu_icon_img</key>
	<string>contact_customer_service.png</string>
	<key>customer_service_card_pic_placeholder_img</key>
	<string>card_pic_placeholder.png</string>
	<key>bot_branch_cell_arrow_img</key>
	<string>branch_cell_arrow.png</string>
	<key>bot_branch_cell_dotted_line_img</key>
	<string>branch_cell_dotted_line.png</string>
	<key>bot_branch_cell_head_bk_img</key>
	<string>branch_cell_head_bk.png</string>
	<key>bot_branch_cell_refresh_img</key>
	<string>branch_cell_refresh.png</string>
	<key>customer_service_card_item_desc_text_color</key>
	<string>#999999</string>
	<key>customer_service_card_input_bg_color</key>
	<string>#F9F9F9</string>
	<key>customer_service_card_input_text_color</key>
	<string>#000000</string>
	<key>customer_service_card_bg_color</key>
	<string>#000000</string>
	<key>customer_service_card_backview_bg_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_card_header_text_color</key>
	<string>#000000</string>
	<key>customer_service_card_submit_text_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_card_desc_text_color</key>
	<string>#FF6C2E</string>
	<key>customer_service_card_submit_bg_color</key>
	<string>#006EFF</string>
	<key>customer_service_card_close_text_color</key>
	<string>#3370FF</string>
	<key>customer_service_branch_content_text_color</key>
	<string>#368DFF</string>
	<key>customer_service_branch_header_text_color</key>
	<string>#000000</string>
	<key>customer_service_collection_content_text_color</key>
	<string>#368DFF</string>
	<key>customer_service_collection_header_text_color</key>
	<string>#000000</string>
	<key>customer_service_collection_border_bg_color</key>
	<string>#DDDDDD</string>
	<key>customer_service_collection_textfield_bg_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_collection_textfield_text_color</key>
	<string>#000000</string>
	<key>customer_service_evaluation_bg_color</key>
	<string>#FBFBFB</string>
	<key>customer_service_evaluation_top_text_color</key>
	<string>#9A9A9A</string>
	<key>customer_service_evaluation_header_text_color</key>
	<string>#1C1C1C</string>
	<key>customer_service_evaluation_button_text_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_evaluation_button_bg_color</key>
	<string>#2F80ED</string>
	<key>customer_service_evaluation_bottom_text_color</key>
	<string>#9A9A9A</string>
	<key>customer_service_evaluation_button_selected_bg_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_evaluation_button_unselected_bg_color</key>
	<string>#006EFF</string>
	<key>customer_service_menu_button_border_color</key>
	<string>#DDDDDD</string>
	<key>customer_service_menu_button_text_color</key>
	<string>#000000</string>
	<key>customer_service_menu_button_bg_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_menu_button_shadow_color</key>
	<string>#D3D3D3</string>
	<key>customer_service_phrase_bg_color</key>
	<string>#000000</string>
	<key>customer_service_phrase_text_color</key>
	<string>#000000</string>
	<key>customer_service_phrase_backview_bg_color</key>
	<string>#FFFFFF</string>
	<key>bot_branch_cell_header_dot_color</key>
	<string>#FFFFFF</string>
	<key>bot_branch_cell_header_text_color_1</key>
	<string>#FFFFFF</string>
	<key>bot_branch_cell_header_text_color_2</key>
	<string>#000000</string>
	<key>bot_branch_cell_refresh_btn_color</key>
	<string>#006EFF</string>
	<key>bot_branch_cell_number_text_color</key>
	<string>#006EFF</string>
	<key>bot_branch_cell_content_text_color</key>
	<string>#333333</string>
	<key>chat_customer_bg_img</key>
	<string>chat_bg.png</string>
</dict>
</plist>
